{% extends "base.html" %}

{% block main %}
    
    <div class="card-group" style="width: 26rem;">
        {% for property in properties %}
        
            <div class="card h-100" >
                <img src="{{ url_for('get_uploaded_file', filename = property.photo) }}" class="card-img-top" alt="...">
                <div class="card-body">
                  <h5 class="card-title mb-0">{{ property.title }}</h5>
                  <p class="card-text"> <small class="text-muted"> {{ property.location }}</small> </small> </p>

                  <button class=" col-md-auto btn btn-default btn-sm rounded-pill disabled" style="background-color:#0d6efd;color:white;"> {{ "${:,.2f}".format(property.price) }} </button>

                </div>
                
                <div class="card-footer d-grid gap-2 bg-primary">
                    <a href="{{ url_for('propertyid', propertyid = property.id) }}" class="btn btn-primary">View Property</a>
                  </div>
              </div>
              
        {% endfor %}
    </div> 
{% endblock %}